.tableCell{
    padding: 10px;
}

.tableCellBtns{
    display: flex;
}

.id{
    color: var(--txt-grey);
}

.btnEdit, .btnDel{
    cursor: pointer;
    transition: color .3s ease-in-out;
}

.btnEdit:hover{
    color: var(--decor-color-1);
}

.btnDel:hover{
    color: var(--red-color);
}