.wrapper{
    padding: 0 30px;
    margin: 0 -30px 25px -30px;
    background-color: rgba(var(--decor-color-2), 0.07);
}

.list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.list_notEmpty{
    padding: 25px 0;
}

.item{
    display: flex;
}

.select{
    background-color: var(--border-color-1-transparent);
    border: 1px solid var(--border-color-1);

    &:focus{
        outline: none;
    }
}

.input{
    flex: 1;
    padding: 8px 12px;
    border: 0;
    border-top: 1px solid var(--border-color-1);
    border-bottom: 1px solid var(--border-color-1);
    &:focus{
        outline: none;
    }
}

.delBtn{
    background-color: var(--border-color-1-transparent);
    border: 1px solid var(--border-color-1);
    cursor: pointer;
    transition: border-color .3s ease-in-out;

    &:hover svg path{
        fill: var(--red-color);
    }
    &:hover{
        border-color: var(--red-color);
    }
}
.delBtn path{
    transition: fill .3s ease-in-out;
}

.addBtn{
    gap: 5px;
    margin: 0 auto;
    padding: 8px 0;
    cursor: pointer;
    transition: color .3s ease-in-out;
}

.addBtn path{
    transition: fill .3s ease-in-out;
}

.addBtn:hover {
    color: var(--decor-color-1);
}

.addBtn:hover>svg>path:nth-child(1) {
    fill: var(--main-color-1);
}

.addBtn:hover>svg>path:nth-child(2) {
    fill: var(--decor-color-1);
}


.invalidError{
    color: var(--red-color);
    font-size: 12px;
}

@media (max-width: 576px){
    .wrapper{
        padding: 0 20px;
        margin: 0 -20px 25px -20px;
    }
}